{% extends "base.html" %}
{% block title %}Профиль{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        {% include 'includes/profile_name.html' %}                
                {% for post in page %}
                        {% include "includes/post_items.html" with post=post %}
                {% endfor %}
                <!-- Здесь постраничная навигация паджинатора -->
                {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator %}
                {% endif %}
     </div>
     
    </div>
</main>
{% endblock %}